<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="main">Add Book</h1>
            <form th:object="${book}" method="post">
                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error
                </p>

                <div class="form-group" th:classappend="${#fields.hasErrors('author')}? 'has-error':''" >
                    <label>Author</label>
                    <input type="text" class="form-control" th:field="*{author}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('author')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error':''" >
                    <label>Title</label>
                    <input type="text" class="form-control" th:field="*{title}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('title')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error':''" >
                    <label>Price</label>
                    <input type="text" class="form-control" th:field="*{price}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('price')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('quantity')}? 'has-error':''" >
                    <label>Quantity</label>
                    <input type="text" class="form-control" th:field="*{quantity}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('quantity')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label th:for="bookCategory">Category</label>
                    <select th:field="*{bookCategory}">
                        <option th:each="bookCategory : ${bookCategories}"
                                th:text="${bookCategory.name()}"
                        th:value="${bookCategory}">
                        </option>
                    </select>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error':''" >
                    <label>Description</label>
                    <input type="text" class="form-control" th:field="*{description}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('description')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
