<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>

<h1>New in offer!</h1>

<div class="container">
<div class="col-md-12">
    <div class="col-md-4 col-sm-6" th:each="book : ${newest}">
                <span class="thumbnail">
                    <img src="http://placehold.it/300x400" alt="..."/>
                    <span th:text="${book.author} + ' - ' + ${book.title} "></span>
                        <div class="col-md-6 col-sm-6">
                            <p class="price" th:text="${book.price}"></p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <a href="bookDetails.html" class="btn btn-success btn-xs pull-right"
                               th:href="@{'/books/'+${book.id}}">Details</a>
                        </div>
                </span>
        </div>
    </div>

    <div class="row panel-body">
        <a th:href="@{'/books'}" class="pull-right">
            <button type="button" class="btn btn-success">Proceed to shop</button>
        </a>
    </div>

</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
