<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <h1 class="main">List of Books</h1>
    <table class="table table-hover table-responsive">
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Cost</th>
            <th>Details</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getLocalDate()}"></td>
            <td th:text="${order.getOrderStatus()}"></td>
            <td th:text="${order.getTotalCost()}"></td>
            <td><a type="submit" class="btn btn-success btn-xs" th:href="@{'/account/orders/' + ${order.id}}">Order
                details</a></td>
        </tr>
    </table>
    <a href="account.html" class="btn btn-default btn-xs" th:href="@{/account}">Go back</a>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
